.box{
    display: inline-block;
    width:300px;
    position: relative;
    left:450px;
    bottom:350px;
    text-align: center;
}
.profileImage{
    width:150px;
    height:150px;
    border-radius: 15px;
}
.smallButton{
    position : relative;
    left: 100px;
    bottom :70px;
    
padding: 0;
border: none;
background: none;
color: blue;
}
/* .name-display{
    position: relative;
    right:115px;
} */
.link{
    margin-top:10px;
}